<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/animate.css">
    
    <link rel="stylesheet" href="/styles/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/styles/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/styles/css/magnific-popup.css">

    <link rel="stylesheet" href="/styles/css/aos.css">

    <link rel="stylesheet" href="/styles/css/ionicons.min.css">
    
    <link rel="stylesheet" href="/styles/css/flaticon.css">
    <link rel="stylesheet" href="/styles/css/icomoon.css">
    <link rel="stylesheet" href="/styles/css/style.css">
    <script src="/styles/js/jquery.min.js"></script>
    <script src="/styles/js/jquery-migrate-3.0.1.min.js"></script>
    <title><%= project.title %> - Project Hub</title>
</head>
<body>
    <% let {name, logged, role} = user %>
    <div style="background-color: midnightblue">
        <div class="bg-top navbar-light">
                <div class="container">
                <div class="row no-gutters d-flex align-items-center align-items-stretch">
                    <div class="col-md-4 d-flex align-items-center py-4">
                    <a class="navbar-brand" style="color: whitesmoke" href="/">Project Hub<span>FR.CRCE</span></a>
                    </div>
                </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container d-flex align-items-center px-4">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu" style="font-size: 30px">Menu</span>
                </button>
                <% if(logged) { %>
                <form action="/projects/search/<%=name%>" method="post" class="searchform order-lg-last">
                    <div class="form-group d-flex">
                    <input type="text" name="keywords" class="form-control pl-3" placeholder="Search">
                    <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
                    </div>
                </form>
                <% } %>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav mr-auto">
                    <% if(logged) {
                        if (role == 'admin'){ %>
                        <li class="nav-item active"><a href="/logged/<%=name%>" class="nav-link pl-0" style="font-size: 20px">Home</a></li> 
                        <li class="nav-item" ><a href="/users/<%=name%>&<%=name%>" class="nav-link" style="color: gold; font-size: 20px"><%= name %></a></li>
                        <li class="nav-item"><a href="/projects/<%=name%>" class="nav-link" style="font-size: 20px">Projects</a></li>
                        <li class="nav-item"><a href="/report/generate/<%=name%>" class="nav-link" style="font-size: 20px">Generate Report</a></li>
                        <li class="nav-item"><a href="/logout/<%=name%>" class="nav-link" style="font-size: 20px">Logout</a></li>
                        <% }else{ %>
                        <li class="nav-item active"><a href="/logged/<%=name%>" class="nav-link pl-0" style="font-size: 20px">Home</a></li> 
                        <li class="nav-item" ><a href="/users/<%=name%>&<%=name%>" class="nav-link" style="color: gold; font-size: 20px"><%= name %></a></li>
                        <li class="nav-item"><a href="/projects/<%=name%>" class="nav-link" style="font-size: 20px">Projects</a></li>
                        <li class="nav-item"><a href="/upload/<%=name%>" class="nav-link" style="font-size: 20px">Upload</a></li>
                        <li class="nav-item"><a href="/logout/<%=name%>" class="nav-link" style="font-size: 20px">Logout</a></li>
                        <% }} else{ %>
                        <li class="nav-item active"><a href="/" class="nav-link pl-0" style="font-size: 20px">Home</a></li>
                        <li class="nav-item"><a href="/projects" class="nav-link" style="font-size: 20px">Projects</a></li>
                        <li class="nav-item"><a href="/login" class="nav-link" style="font-size: 20px">Login</a></li>
                        <li class="nav-item"><a href="/register" class="nav-link" style="font-size: 20px">Register</a></li>
                        <% } %>
                    </ul>
                </div>
                </div>
            </nav>
    
            <!-- END nav -->
        <% 
            let {_id, dateOfUpload, keywords, reportName, pptName, title, uploader, team, mentor, youtubeLink, githubRepo, desc, published, domain, eval} = project;
        %>
        <section class="ftco-section">
            <div class="container" style="background-color: white; padding: 20px;">
                <div class="row">
                    <div class="col-lg-8 ftco-animate">
                        <h1 style="color: orangered; font-weight: bold; font-family: Georgia; font-size: 60px"><a href="/projects/<%=_id%>"><%= title %></a></h1>
                        <p style="font-size:25px"><%= desc %></p>
                        <br><br>
                        <% if(youtubeLink){ %>
                        <iframe src="<%= youtubeLink %>" width=960 height=480></iframe>
                        <% } %>
                        <% if(githubRepo){ %>
                        <a style="font-size: 40px; color:midnightblue; text-decoration: underline" href="https://<%= githubRepo %>" target="_blank">Link To Github Repository</a>
                        <% } %>
                        <h5 style="padding:5px" >
                            <span><strong>Project Report: </strong></span>
                            <a style="text-decoration: underline" href="/uploads/<%=reportName%>" target="_blank"><%=reportName%></a>
                        </h5>
                        <h5 style="padding:5px" >
                            <span><strong>Presentation: </strong></span>
                            <% if(pptName){ %>
                                <a style="text-decoration: underline" href="/uploads/<%=pptName%>" target=_blank"><%=pptName%></a>
                            <% }else{ %>
                                <span>Not Available</span>
                            <% } %>
                        </h5>    
                        <hr>
                        <% if(name == uploader.name){ %>
                        <% if(eval){ %>      
                        <table cellpadding='10' style="color: black; font-size: 20px">
                            <th style="font-size: 30px">Grades</th>
                            <% eval.forEach((grade) => { %>
                            <tr>
                                <td><%= grade.teacher %></td>
                                <td><%= grade.grade %></td>
                            </tr>
                            <% }) %>
                        </table>
                        <% }} %>

                        <% if(role == 'teacher' && eval.filter((one) => one.teacher == name).length>0){ 
                            givenGrade = eval.filter((one) => one.teacher == name); %>
                            <tr>
                                <td><h3 style="font-weight: bold; color: black">Grade given by you</h3></td>
                                <td><p style="color:black; padding:5px; font-size: 20px"><%= givenGrade[0].grade %></p></td>
                                <td><a class="btn btn-primary" href="/projects/grade/remove/<%=_id%>/<%=name%>">Remove Grade</a></td>
                            </tr>
                        <% } %>

                        <% if(role == 'teacher' && eval.filter((one) => one.teacher == name).length<=0){ %>
                            <h3>Like the project? Leave a grade for the creator to see</h3>
                            <form action="/projects/grade/<%= _id %>/<%=name%>" method="POST">
                                <div class="form-group">
                                    <span>Username</span>
                                    <input type="text" name="name" style="border-radius: 25px; padding: 10px" value="<%= name %>" required>
                                </div>
                                <div class="form-group">
                                    <span>Grade</span>
                                    <select name="grade" style="border-radius: 25px; padding: 10px" required>
                                        <option value="A+">A+</option>
                                        <option value="A">A</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B">B</option>
                                        <option value="B-">B-</option>
                                        <option value="C+">C+</option>
                                        <option value="C">C</option>
                                        <option value="C-">C-</option>
                                        <option value="D">D</option>
                                        <option value="F">F</option>
                                    </select>
                                </div>
                                <div class="form-goup">
                                    <input type="submit" value="Submit" class="btn btn-primary enableName">
                                </div>
                            </form>
                        <% } %>
                        <hr>
                        <h4 style="padding:10px; font-weight: bold; font-size: 30px; color:black">Project Creator:</h4>
                        <table cellpadding="5">
                            <tr>
                                <td><strong>Username: </strong></td><td><%= uploader.username %></td>
                            </tr>
                            <tr>
                                <td><strong>Name: </strong></td><td><a href="/users/<%=uploader.name%>&<%=name%>"><%= uploader.name %></a></td>
                            </tr>
                            <tr>
                                <td><strong>Department:</strong></td><td><%= uploader.dept %></td>
                            </tr>
                            <tr>
                                <td><strong>Year: </strong></td><td><%= uploader.year %></td>
                            </tr>
                            <tr>
                                <td><strong>Team Members:</strong></td>
                                <% if(team.length>0){
                                    team.forEach((member) => { %>
                                    <td><%= member %></td>
                                <% })} %>
                            </tr>
                            <tr>
                                <td><strong>Mentors:</strong></td>
                                <% if(mentor.length>0){
                                    mentor.forEach((mentor) => { %>
                                    <td><%= mentor %></td>
                                <% })} %>
                            </tr>
                        </table>
                       
                        
                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">
                                <% keywords.forEach(function(key){ %>
                            <a href="#" class="tag-cloud-link"><%= key %></a>
                                <% }) %>
                            </div>
                        </div>
                        <% if(name == uploader.name){ %>
                        <a class="btn btn-danger" href="/projects/delete/<%=_id %>/<%=name%>">Delete</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
    </div>
    
    <script>
        $(document).ready( function(){
            console.log('called');
            $('form input[type="text"]').prop("disabled", true);
            $('.enableName').click(function(){
                $('form input[type="text"]').prop("disabled", false);
            })
        })
    </script>
    <script src="/styles/js/popper.min.js"></script>
    <script src="/styles/js/bootstrap.min.js"></script>
    <script src="/styles/js/jquery.easing.1.3.js"></script>
    <script src="/styles/js/jquery.waypoints.min.js"></script>
    <script src="/styles/js/jquery.stellar.min.js"></script>
    <script src="/styles/js/owl.carousel.min.js"></script>
    <script src="/styles/js/jquery.magnific-popup.min.js"></script>
    <script src="/styles/js/aos.js"></script>
    <script src="/styles/js/jquery.animateNumber.min.js"></script>
    <script src="/styles/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/styles/js/main.js"></script>
        
</body>
</html>